:root {
    --flex: flex;
    --center: center;
    --space-between: space-between;
    --primary-color: #f15928;
    --secondary-color: rgb(104, 102, 102);
    --white: white;
    --black: #3d4152;
    --boxshadow: 0 15px 40px -20px rgba(40, 44, 63, .15);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
    position: relative;
    min-height: 100vh;
    height: 100%;
}
.main-content {
    min-height: calc(100vh - 156px);
}

a {
    text-decoration: none;
}
.container-fluid {
    width: 1240px;
    max-width: 100%;
    margin: 0 auto;
}
header .container-fluid {
    display: var(--flex);
    align-items: var(--center);
    justify-content: var(--space-between);
}
.container {
    width: 1024px;
    max-width: 100%;
    margin: 0 auto;
}
header {
    box-shadow: var(--boxshadow);
    display: var(--flex);
    justify-content: var(--space-between);
    align-items: var(--center);
}
.logo-sec {
    display: var(--flex);
    align-items: var(--center);
}
.logo-sec p {
    margin: 0;
    font-size: 20px;
    color: var(--primary-color);
    font-weight: 600;
}
.logo-sec img {
    width: 100px;
}
header nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 40px;
}
header nav ul li,
header nav ul li a { 
    min-width: 56px;
    display: block;
}
header nav ul li a {
    color: var(--black);
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}
.mb-1 {
    margin-bottom: 1.2rem;
}
footer {
    background-color: var(--black);
    padding: 20px 0;
}
footer .container {
    display: var(--flex);
    align-items: var(--center);
    justify-content: var(--space-between);
}
footer * {
    color: var(--white);
}
.p-20 {
    padding: 40px 0;
}
.res-cards-container {
    display: var(--flex);
    justify-content: flex-start;
    flex-wrap: wrap;
    row-gap: 40px;
    column-gap: 20px;
}
.res-card {
    border: 1px solid #ddd;
    width: 240px;
    max-width: 100%;
    border-radius: 16px;
    overflow: hidden;
}
.res-card:hover {
    box-shadow: var(--boxshadow);
    transform: scale(0.95, 0.95);
    transform-origin: center center;
    transition: 0.1s ease-in;
}
.res-img {
    position: relative;
}
.res-img::after {
    content: "";
    height: 50%;
    width: 100%;
    display: grid;
    background: linear-gradient(rgba(27, 30, 36, 0) 0%, rgb(27, 30, 36) 84.21%);
    position: absolute;
    bottom: 0px;
}
.res-card * {
    color: var(--black);
}
.res-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}
.res-data {
    padding: 10px 12px 15px;
}
.res-data :is(h3, h4) {
    margin-bottom: 10px;
}
.res-data > div {
    display: var(--flex);
    justify-content: var(--space-between);
}
.filters-container {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
    align-items: center;
}
.filters-container .search-form {
    background-color: #ebebeb;
    border-radius: 20px;
}
.search-form input[type="text"] {
    min-width: 240px;
}
.filters-container .search-text {
    border-radius: 18px;
    background-color: transparent;
    padding: 9px 12px;
    font-size: 14px;
    color: var(--black);
    border: none;
}
.filters {
    display: flex;
    column-gap: 10px;
}
.filters-container .btn,
.load-more-container .btn {
    border-radius: 18px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(2, 6, 12, 0.15);
    padding: 9px 12px;
    font-size: 14px;
    font-weight: 600;
    box-shadow: rgba(2, 6, 12, 0.04) 0px 2px 12px;
    transition: 100ms ease-in;
    cursor: pointer;
    color: var(--black);
    min-width: 60px;
}
.filters .btn:active,
.filters .btn:focus {
    border-radius: 18px;
    background-color: rgb(221, 221, 221);
    border: 1px solid rgba(0, 0, 0, 0.15);
    padding: 9px 12px;
    font-size: 14px;
    font-weight: 600;
    box-shadow: rgba(2, 6, 12, 0.04) 0px 2px 12px;
    transition: 100ms ease-in;
    cursor: pointer;
    color: var(--black);
}
.search-form .btn.active,
.search-form .btn.focus,
.search-form input[type="text"]:focus,
.search-form input[type="text"]:active,
.search-form input[type="text"]:focus-visible {
    border: none;
    outline: none;
}
.search-form .btn {
    color: var(--primary-color);
}
.search-form .btn:focus,
.search-form .btn:active {
    background-color: var(--primary-color);
    outline: none;
    border: transparent;
    color: #fff;
}

.shimmer-container {
    display: var(--flex);
    justify-content: flex-start;
    flex-wrap: wrap;
    row-gap: 40px;
    column-gap: 20px;
    padding: 169px 0 50px 0;
}
.shimmer-container .shimmer-card {
    background-color: #f0f0f0;
    border-radius: 15px;
    height: 291px;
    width: 240px;
}
.load-more-container {
    display: var(--flex);
    justify-content: var(--center);
    align-items: var(--center);
    margin: 2rem 0;
}
.load-more-container .btn {
    background-color: var(--primary-color);
    color: #fff;
}


.res-menu .container {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}
.res-menu .card {
    border-radius: 20px;
    border: 1px solid rgba(2, 6, 12, 0.15);
    background: white;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 8px 16px 0px;
    padding: 20px;
}
.jNryYj {
    margin-bottom: 20px;
}
.coysQn {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px 16px;
}
.exhbvC {
    width: 20px;
    height: 20px;
    margin-right: 4px;
    margin-top: -2px;
}
.eqdoYF {
    font-family: Gilroy_Bold;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.3px;
    color: rgba(2, 6, 12, 0.92);
}
.jYYOgx {
    margin: 0px 8px;
}
.eqdoYF {
    font-family: Gilroy_Bold;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.3px;
    color: rgba(2, 6, 12, 0.92);
}
.fJalQv {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin: 8px 20px;
}
.fJalQv > a {
    text-decoration: none;
}
.dgPwtV {
    display: flex;
    margin: 0px 20px;
    padding: 4px 0px;
    -webkit-box-align: center;
    align-items: center;
}
.jICcAR {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
}
.tQJFd {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    margin-left: 12px;
    padding-right: 16px;
    width: 100%;
}
.cAzFIF {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: rgb(196, 196, 196);
}
.gzkjpM {
    width: 1px;
    height: 23px;
    background: rgb(196, 196, 196);
}
.cAzFIF {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: rgb(196, 196, 196);
}
.tQJFd {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    margin-left: 12px;
    padding-right: 16px;
    width: 100%;
}
.jzDxBO {
    display: flex;
    margin-bottom: 2px;
}
.kYrnMC {
    font-family: Gilroy_Bold;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.3px;
    color: rgba(2, 6, 12, 0.92);
}
.kxiOHW {
    text-align: center;
    max-width: 70%;
    margin-left: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.fIEIUh {
    display: flex;
    margin-top: 8px;
    white-space: nowrap;
}
.kYrnMC {
    font-family: Gilroy_Bold;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.3px;
    color: rgba(2, 6, 12, 0.92);
}
.dbdEHn {
    border-top: none;
    border-right: none;
    border-left: none;
    border-image: initial;
    border-bottom: 1px solid rgba(2, 6, 12, 0.05);
    margin: 12px 0px;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.iSJEeM {
    margin-bottom: 16px;
}
.cMnuFd {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-left: 16px;
    margin-right: 16px;
}
.gJQjbk {
    margin-right: 8px;
    height: 20px;
    width: 20px;
}
.fVWuLc {
    font-family: Gilroy;
    font-weight: 200;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.3px;
    color: rgba(2, 6, 12, 0.6);
}
.ScreenReaderOnly_screenReaderOnly___ww-V {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    display: block;
    font-size: 1px;
    line-height: 1px;
    padding: 0;
    border: 0;
    outline: 0;
    overflow: hidden;
    white-space: nowrap;
    height: 1px;
    width: 1px;
}
